:root{
    /* Static Colors */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
    
    /* Light theme colors */
    --header-color: hsl(225, 100%, 98%);
    --background-color: hsl(0, 0%, 100%);
    --card-color: hsl(227, 47%, 96%);
    --light-text: hsl(228, 12%, 44%);
    --dark-text: hsl(230, 17%, 14%);
}
    /* Dark theme colors */
    [data-theme="dark"]{
    --header-color: hsl(232, 19%, 15%);
    --background-color: hsl(230, 17%, 14%);
    --card-color: hsl(228, 28%, 20%);
    --light-text: hsl(228, 34%, 66%);
    --dark-text: hsl(0, 0%, 100%) ; 
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 700;
    box-sizing: border-box;
    background-color: var(--background-color);
}
.switch{
    display: inline-flex;
    right: 13%;
    position: absolute;
    color: var(--light-text);
}

/* SLIDER  */

.theme-switch-wrapper {
    display: inline-flex;
  }
  .theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 12px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 12px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
/* SLIDER END */

/* @media screen and (min-width: 375px){}
@media screen and (min-width: 1440px){} */


.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.header{
    height: 300px;
    background: linear-gradient(to bottom, var(--header-color) 200px, var(--background-color) 201px);
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-bold-text{
    padding-bottom: 5px;
    color: var(--dark-text);
    font-weight: 800;
    font-size: 23px;
}

.header-followers{
    display: inline-flex;
    color: var(--light-text);
}


.header-box{
    margin: 20px 13% 20px 13%;
}

.bigger-box{
    margin: 0px 13% 0px 13%;
    display: flex;
    justify-content: space-between;
}



.big-box{
    /* box-sizing: border-box; */
    border-radius: 0 0 5px 5px;
    background-color: var(--card-color);
    height: 180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 7px 0px 13px 0px;
    position: relative;
    top:5px;
    text-align: center;
}

.big-wrap{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    position: relative;
}

#ig-bdr{
    background: var(--Instagram);  
 }

#fb-bdr{ 
    background: var(--Facebook);  
}
#yt-bdr{
    background: var(--YouTube);  
}

#twt-bdr{
    background: var(--Twitter);  
}

.username{
    text-align: center;
    color: var(--light-text);
    font-size: 14px;
}

.count{
    color: var(--dark-text);
    text-align: center;
    font-size: 300%;
    /* font-size: 60px; */
}

.up-today-box{
    color: var(--lime-green);
    display: block;
}

.down-today-box{
    color: var(--bright-red);
}


.today{
    font-size: 12px;
    color: inherit;
    display: inline-block;
  
}

.up-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent var(--lime-green) transparent;
    display: inline-block;
    text-align: center;
}

.down-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    text-align: center;
    border-width: 7px 7px 0 7px;
    border-color:var(--bright-red) transparent transparent transparent;
}

.followers{
    color: var(--light-text);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

@media screen and (max-width: 1100px){
    .bigger-box{
        margin: 0px 5% 0px 5%;
        display: flex;
        justify-content: space-between;
    }
    .big-box{
        background-color:var(--card-color);
        height: 160px;
        width: 180px;
    }
    .header-box{
        margin: 20px 5% 20px 5%;
    }
    .big-wrap{
        height: 160px;
        width: 180px;
    }
    .switch{
        right: 5%;
    }
}

@media screen and (max-width:768px){
    .bigger-box{
        margin: 0px 8% 0px 8%;
        display: flex;
        justify-content: space-between;
    }
    .big-box{
        background-color: lightcyan;
        height: 150px;
        width: 150px;
    }
    .header-box{
        margin: 20px 8% 20px 8%;
    }
    .switch{
        right: 8%;
    }
}

@media screen and (max-width: 767px){
    .bigger-box{
        overflow: hidden;
    }
}

@media screen and (max-width: 480px){

    .flex-container{
        flex-direction: column;
        align-items: center;
    }
    .big-wrap{
        width: 100%;
        height: 180px;
    }
    .header{
        background: var(--background-color);
        
    }
    .bigger-box{
        margin: 5px 13% 5px 13%;
        flex-direction: column;
        
    }
    .big-box{
        background-color:var(--card-color);
        width: 100%;
        height: 180px;
        margin-top: 5px;
   
       
    }
    .header-followers{
        display: block;
    }
    .switch{
        left: 13%;
    }
    .theme-switch-wrapper{
        display: inline;
    }

    .header-box{
        margin: 20px 13% 30px 13%;
    }
    

}

@media screen and (max-width: 255px){
    .html, body{
        overflow: hidden;
    }
    .header{
        flex-wrap: nowrap;
    }
}